body{
	background:orange;
	margin:0;
	padding:0;
}

.stat{
	display:flex;
	flex-direction: row;
	align-items:center;
	margin:5px;
}

.stat img{
	margin-right: 5px;
}
.header{
	display:flex;
	flex-direction: row;
	justify-content: flex-start;
	background:white;
	width:100%;
	height:52px;
}

.logininfo{

}

#friendzone{
	display:flex;
	flex-direction: row;
	align-items: center;
}

#friendzone a{
	margin-left: 5px;
}

.headerbox{
	display:flex;
	flex-direction: column;
	align-items: center;
	height:52px;
}

.searchbar{
	display:flex;
	flex-direction: column;
	align-items: center;
}

.nameholder{
	display:flex;
	flex-direction: column;
	align-items: center;

}

.stats{
	display:flex;
	flex-direction: row;
	flex-wrap:wrap;
	justify-content: center;
	word-wrap: break-word;
}